{% extends "master.html" %}

{% block title %}
My Tennis Club - List of all members
{% endblock %}


{% block content %}

<div class="mycard">
    <h1>Members</h1>


    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
        </tr>
        </thead>
        {% for x in mymembers %}
        <tr>
            <td>{{ x.id }}</td>
            <td><a href="details/{{ x.slug }}">{{ x.firstname }}</a></td>
            <td>{{ x.lastname }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}


