{% extends "master.html" %}

{% block title %}
My Tennis Club - List of all members
{% endblock %}


{% block content %}

<div class="mycard">
    <h1>Members</h1>
    <ul>
        {% for x in mymembers %}
        <li onclick="window.location = 'details/{{ x.slug }}'">{{ x.firstname }} {{ x.lastname }}</li>
        {% endfor %}
    </ul>
</div>


    <table border='1'>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
        </tr>
        {% for x in mymembers %}
        <tr>
            <td>{{ x.id }}</td>
            <td><a href="details/{{ x.id }}">{{ x.firstname }}</a></td>
            <td>{{ x.lastname }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}


